
<div class="container-md">
  <h1>Register your account</h1>
  <form>
    <div class="form-group row">
      <input type="text" name="email" placeholder="Email" [(ngModel)]="newUser.email">
    </div>

    <div class="form-group row">
      <input type="text" name="userName" placeholder="Username" [(ngModel)]="newUser.username">
    </div>

    <div class="form-group row">
      <input type="text" name="password" placeholder="Password" [(ngModel)]="newUser.password">
    </div>

    <div class="form-group row">
      <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName">
    </div>

    <div class="form-group row">
      <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName">
    </div>

    <div class="form-group row">
      <input type="text" name="email" placeholder="Profile Image" [(ngModel)]="newUser.imageUrl">
    </div>

    <br>

    <div class="form-group row">
      <input type="text" name="name" placeholder="Name of Location" [(ngModel)]="newUser.address.name"><br>
    </div>

    <div class="form-group row">
      <input type="text" name="name" placeholder="Street" [(ngModel)]="newUser.address.street">
    </div>

    <div class="form-group row">
      <input type="text" name="name" placeholder="City" [(ngModel)]="newUser.address.city">
    </div>

    <div class="form-group row">
      <input type="text" name="name" placeholder="State" [(ngModel)]="newUser.address.state">
    </div>

    <div class="form-group row">
      <input type="text" name="name" placeholder="Postal Code" [(ngModel)]="newUser.address.postalCode">
    </div>

    <div class="form-group row">
      <input type="text" name="name" placeholder="Country" [(ngModel)]="newUser.address.country">
    </div>

  <br>

  <input (click)="register(newUser)" type="text" type="submit" value="Submit">

</form>

</div>
