
<div class="container-md">
  <h1>Register your account</h1>
  <form>
    <div class="form-group row">
      <input type="text" name="email" placeholder="Email" [(ngModel)]="newUser.email">
    </div>

    <div class="form-group row">
      <input type="text" name="userName" placeholder="Username" [(ngModel)]="newUser.username">
    </div>

    <div class="form-group row">
      <input type="text" name="password" placeholder="Password" [(ngModel)]="newUser.password">
    </div>

    <div class="form-group row">
      <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName">
    </div>

    <div class="form-group row">
      <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName">
    </div>

    <div class="form-group row">
      <input type="text" name="email" placeholder="Profile Image" [(ngModel)]="newUser.imageUrl">
    </div>

    <div class="form-group row">

    </div>

    <div class="form-group row">

    </div>









  <br>

  <!-- <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col">Email</div>
      <div class="col">
        <input type="text" name="email" [(ngModel)]="newUser.email">
      </div>
      <div class="col">Column</div>
      <div class="col">Column</div>
    </div>
  </div> -->

  <br>


  Name of Location: <input type="text" name="name" [(ngModel)]="newUser.address.name"><br>
  Street:<input type="text" name="name" [(ngModel)]="newUser.address.street"><br>
  City:<input type="text" name="name" [(ngModel)]="newUser.address.city"><br>
  State:<input type="text" name="name" [(ngModel)]="newUser.address.state"><br>
  Postal Code:<input type="text" name="name" [(ngModel)]="newUser.address.postalCode"><br>
  Country:<input type="text" name="name" [(ngModel)]="newUser.address.country"><br>

  <!-- Address: <input type="text" name="address" [(ngModel)]="newUser.address"><br> -->
  Submit: <input (click)="register(newUser)" type="text" type="submit" value="Submit"><br>
</form>
</div>
