<!-- py - padding for top / bottom -->
<div class="container py-5">
  <div class="row mb-5">
    <div col-lg-8 mx-auto text-center>
      <h1>Welcome to NeighborNet!</h1>
      <p>
        Your go-to platform for staying connected with your community. Our web
        application allows you to engage with your neighbors, share updates, and
        stay informed about what’s happening around you. Whether you’re
        interested in local events, neighborhood discussions, or just want to
        connect with fellow residents, NeighborNet provides a convenient space
        to keep you in the loop.
      </p>
    </div>
  </div>

  <div class="row justify-content-center align-items-stretch">
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <div class="card-body">
          <h4>Community</h4>
          <p>
            With NeighborNet, you can easily create an account and start
            participating in your neighborhood’s digital community. Publish
            posts, organize events, and share important updates with your
            neighbors. Whether you’re announcing a yard sale, looking for
            recommendations, or planning a community gathering, our platform is
            designed to facilitate meaningful connections and open
            communication.
          </p>
        </div>
      </div>
    </div>

    <!--PLACEHOLDER  - Will find a few images to include on home -->
    <div class="col-md-4 d-flex">
      <div class="d-flex align-items-center">
        <a>
          <img
            src="images/Gemini_Generated_Image_pins_on_map_neighborhood.jpeg"
            alt="Example image of a report shown on Google Maps"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <div class="card-body">
          <h4>Maps</h4>
          <p>
            One of the key features of NeighborNet is our integrated Google Maps
            overlay. This allows you to visually explore local events happening
            around your area, making it easy to find and join activities that
            matter to you. Stay connected, stay informed, and become an active
            part of your neighborhood with NeighborNet.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
