<h1>Landing</h1>
<div *ngIf="!showUpdateForm">
<!-- Bootstrap - card - "Kitchen Sink example"-->
<div class="card" *ngFor="let report of reports" style="width: 18rem;">
  <!-- TODO , check if image url present before including on card -->
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <!-- <h5 class="card-title">Card title</h5> -->
    <h5 class="card-title" >{{report.name}}</h5>
    <p class="card-text">{{report.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <!-- TODO card layout and items to include / handle edits inline or send elsewhere? -->
    <li class="list-group-item">createDate: (to be changed) {{report.createDate}}</li>
    <li class="list-group-item">eventDate: (to be changed) {{report.eventDate}}</li>
    <li class="list-group-item">reportCategory: (to be changed) {{report.reportCategory}}</li>
  </ul>
  <!-- <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> -->

  <!-- TODO - ngIf - user is post's user, can EDIT, otherwise -> comment -->
  <!-- <button (click)="edit()">Edit</button> -->
  <button type="button" class="edit-report" (click)="displayUpdateForm(report)">Edit</button>
</div>

<div class="container-md">
  <h1>Add Post</h1>
  <form>
    <div class="form-group row">
      Name: <input type="text" name="name" placeholder="Title" [(ngModel)]="newReport.name">
    </div>
    <div class="form-group row">
      Description: <input type="text" name="description" placeholder="Description" [(ngModel)]="newReport.description">
    </div>
    <div class="form-group row">
      Image URL: <input type="text" name="imageUrl" placeholder="Link image URL" [(ngModel)]="newReport.imageUrl">
    </div>

    <!-- [ object Object ]  TODO -->
    <!-- <div class="form-group row">
      <input type="text" name="userId" placeholder="User Id" [(ngModel)]="newReport.user.id">
    </div> -->


    <div class="form-group row">
      Address Name: <input type="text" name="name" placeholder="Location Name" [(ngModel)]="newReport.address.name">
    </div>

    <div class="form-group row">
      Street: <input type="text" name="street" placeholder="Street" [(ngModel)]="newReport.address.street">
    </div>

    <div class="form-group row">
      City: <input type="text" name="city" placeholder="City" [(ngModel)]="newReport.address.city">
    </div>

    <div class="form-group row">
      State: <input type="text" name="state" placeholder="State" [(ngModel)]="newReport.address.state">
    </div>

    <div class="form-group row">
      Zip: <input type="text" name="postalCode" placeholder="Postal Code" [(ngModel)]="newReport.address.postalCode">
    </div>

    <div class="form-group row">
      Country: <input type="text" name="country" placeholder="Country" [(ngModel)]="newReport.address.country">
    </div>

    <!-- == Will need to update ADD POST div, user would not see this UNLESS logged-in == -->

    <div class="form-group row">
      Category: <input type="text" name="reportCategory" placeholder="Category"[(ngModel)]="newReport.reportCategory.name">
    </div>

    <input (click)="addReport(newReport)" type="text" type="submit" value="Submit">

</form>

</div>
</div>


<!--====================== UPDATE FROM ===========================-->

<div *ngIf="showUpdateForm" class="update-form">
  <form *ngIf="editReport">
  <div class="form-group row">
    Name: <input type="text" name="name" placeholder="Name" [(ngModel)]="editReport.name">
  </div>
  <div class="form-group row">
    Description: <input type="text" name="description" placeholder="Description" [(ngModel)]="editReport.description">
  </div>
  <div class="form-group row">
    Image URL: <input type="text" name="imageUrl" placeholder="Link image URL" [(ngModel)]="editReport.imageUrl">
  </div>

  <div class="form-group row">
    Address Name: <input type="text" name="name" placeholder="Location Name" [(ngModel)]="editReport.address.name">
  </div>

  <div class="form-group row">
    Street: <input type="text" name="street" placeholder="Street" [(ngModel)]="editReport.address.street">
  </div>

  <div class="form-group row">
    City: <input type="text" name="city" placeholder="City" [(ngModel)]="editReport.address.city">
  </div>

  <div class="form-group row">
    State: <input type="text" name="state" placeholder="State" [(ngModel)]="editReport.address.state">
  </div>

  <div class="form-group row">
    Zip: <input type="text" name="postalCode" placeholder="Postal Code" [(ngModel)]="editReport.address.postalCode">
  </div>

  <div class="form-group row">
    Country: <input type="text" name="country" placeholder="Country" [(ngModel)]="editReport.address.country">
  </div>

  <div class="form-group row">
    Category: <input type="text" name="reportCategory" placeholder="Category"[(ngModel)]="editReport.reportCategory.name">
  </div>
  <br>
  <button (click)="displayLandingPage()">Cancel</button>
  <button (click)="updateReport(editReport)">Submit</button>
</form>
</div>

