<h1>Landing</h1>
<!--------------------------------------------- Reports -----------------------------------------v----------------->
<div *ngIf="!showUpdateForm">
<!-- Bootstrap - card - "Kitchen Sink example"-->
<div class="card" *ngFor="let report of reports" style="width: 18rem;">
  <!-- TODO , check if image url present before including on card -->
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <!-- <h5 class="card-title">Card title</h5> -->
    <h5 class="card-title" >{{report.name}}</h5>
    <p class="card-text">{{report.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <!-- TODO card layout and items to include / handle edits inline or send elsewhere? -->
    <li class="list-group-item">createDate: (to be changed) {{report.createDate}}</li>
    <li class="list-group-item">eventDate: (to be changed) {{report.eventDate}}</li>
    <li class="list-group-item">reportCategory: (to be changed) {{report.reportCategory}}</li>
  </ul>

  <button type="button" class="edit-report" (click)="displayUpdateForm(report)">Edit</button>
  <button type="button" class="delete-report" (click)="deleteReport(report.id)">Delete</button>

</div>
</div>

<!--====================== UPDATE FORM ===========================-->
<div *ngIf="showUpdateForm" class="update-form">
  <h1>Update Report</h1>
  <form *ngIf="editReport">

  <div class="form-group row">

    Name: <input type="text" name="name" [(ngModel)]="editReport.name">
  </div>
  <div class="form-group row">
    Description: <input type="text" name="description" [(ngModel)]="editReport.description">
  </div>
  <div class="form-group row">
    Image URL: <input type="text" name="imageUrl" [(ngModel)]="editReport.imageUrl">
  </div>

  <div class="form-group row">
    Address Name: <input type="text" name="addressname" [(ngModel)]="editReport.address.name">
  </div>

  <div class="form-group row">
    Street: <input type="text" name="street" [(ngModel)]="editReport.address.street">
  </div>

  <div class="form-group row">
    City: <input type="text" name="city" [(ngModel)]="editReport.address.city">
  </div>

  <div class="form-group row">
    State: <input type="text" name="state" [(ngModel)]="editReport.address.state">
  </div>

  <div class="form-group row">
    Zip: <input type="text" name="postalCode" [(ngModel)]="editReport.address.postalCode">
  </div>

  <div class="form-group row">
    Country: <input type="text" name="country" [(ngModel)]="editReport.address.country">
  </div>

  <div class="form-group row">
    Category: <input type="text" name="reportCategory" [(ngModel)]="editReport.reportCategory.name">
  </div>
  <br>
  <button (click)="displayLandingPage()">Cancel</button>
  <button (click)="updateReport(editReport)">Submit</button>
</form>
</div>

