<!-- <h1>Community</h1> -->

<div *ngIf="!showUpdateForm">
  <!-- CARD - Displaying a user's report -->

  <div class="row d-flex flex-column align-items-center">
    <!-- <div class="card" *ngFor="let report of reports" style="width: 18rem;"> -->
    <div class="card w-75 mb-5" *ngFor="let report of reports">
      <!-- <div class="card col-12 mb-5" *ngFor="let report of reports"> -->
      <!-- <img src="..." class="card-img-top" alt="..."> -->

      <!-- == HEADER (card) == -->
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <h5 class="card-title">{{ report.name }}</h5>
        <a class="list-group-item">
          {{ report.address.street }} - {{ report.address.city }},
          {{ report.address.state }}
        </a>
        <a class="list-group-item">
          {{ report.user.firstName }} {{ report.user.lastName }}
        </a>
      </div>

      <div class="card-body">
        <p class="card-text">{{ report.description }}</p>

        <div class="d-flex justify-content-between align-items-center">
          <!-- <a class="list-group-item" -->
          <p class="card-text">
            Posted: {{ report.createDate | date : "mediumDate" }}
          </p>

          <a class="list-group-item"
            >Happened: {{ report.eventDate | date : "mediumDate" }}</a
          >
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <a class="list-group-item"
            >Category: {{ report.reportCategory.name }}</a
          >

          <div *ngFor="let reportTag of reportTags">
            <a class="list-group-item"> TAG: {{ reportTag.id }} </a>
          </div>
        </div>
      </div>

      <div
        class="card-footer d-flex justify-content-between align-items-center"
      >
        <div *ngIf="isReportOwner(report)">
          <button
            type="button"
            class="btn btn-outline-primary ms-2"
            (click)="displayUpdateForm(report)"
          >
            Edit
          </button>


          <button
            type="button"
            class="btn btn-outline-primary ms-2"
            (click)="deleteReport(report.id)"
          >
            Remove
          </button>
        </div>

        <div>
          <button type="button" class="btn btn-outline-primary ms-2">Like</button>
          <!-- <button type="button" (click)="!isCollapsed" >Comment</button> -->
          <button
            type="button"
            class="btn btn-outline-primary ms-2"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample"
            (click)="loadCommentsToReport(report.id)"
          >
            View Comments
          </button>
        </div>
      </div>
      <!-- Testing these 2 divs below-->

      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <!-- <div class="card card-body"> -->
        <div class="card w-50 mb-2" *ngFor="let comment of report.comments">
          <!-- <div class="card-body">You can collapse this card by clicking one Toggle button</div> -->
          <!-- <div *ngFor="let comment of comments"> -->
          <div class="card-header">
            {{ comment.user?.firstName }} {{ comment.user?.lastName }}
          </div>
          <div class="card-body">
            {{ comment.body }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--====================== UPDATE FORM ===========================-->
<div *ngIf="showUpdateForm" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <h2 class="text-center">Update</h2>
      <form *ngIf="editReport" class="mt-4">

        <div class="form-group mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            [(ngModel)]="editReport.name"
          />
        </div>

        <div class="form-group mb-3">
          <label for="description">Description</label>
          <textarea
            id="description"
            class="form-control"
            name="description"
            rows="3"
            [(ngModel)]="editReport.description"
          ></textarea>
        </div>

        <div class="form-group mb-3">
          <label for="imageUrl">Image URL</label>
          <input
            type="text"
            id="imageUrl"
            class="form-control"
            name="imageUrl"
            [(ngModel)]="editReport.imageUrl"
          />
        </div>

        <div class="form-group mb-3">
          <label for="addressname">Address Name</label>
          <input
            type="text"
            id="addressname"
            class="form-control"
            name="addressname"
            [(ngModel)]="editReport.address.name"
          />
        </div>

        <!-- == 1 row - street/city -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="street">Street</label>
            <input
              type="text"
              id="street"
              class="form-control"
              name="street"
              [(ngModel)]="editReport.address.street"
            />
          </div>

          <div class="col-md-6 mb-3">
            <label for="city">City</label>
            <input
              type="text"
              id="city"
              class="form-control"
              name="city"
              [(ngModel)]="editReport.address.city"
            />
          </div>
        </div>

        <!-- == 1 row - state/zip/country -->
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <input
              type="text"
              id="state"
              class="form-control"
              name="state"
              [(ngModel)]="editReport.address.state"
            />
          </div>

          <div class="col-md-4 mb-3">
            <label for="postalCode">Zip</label>
            <input
              type="text"
              id="postalCode"
              class="form-control"
              name="postalCode"
              [(ngModel)]="editReport.address.postalCode"
            />
          </div>

          <div class="col-md-4 mb-3">
            <label for="country">Country</label>
            <input
              type="text"
              id="country"
              class="form-control"
              name="country"
              [(ngModel)]="editReport.address.country"
            />
          </div>
        </div>

        <div class="form-group mb-4">
          <label for="reportCategory">Category</label>
          <input
            type="text"
            id="reportCategory"
            class="form-control"
            name="reportCategory"
            [(ngModel)]="editReport.reportCategory.name"
          />
        </div>

        <div class="d-flex justify-content-between">
          <button class="btn btn-outline-primary ms-2" (click)="displayLandingPage()">Cancel</button>
          <button class="btn btn-outline-primary ms-2" (click)="updateReport(editReport)">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>
