<!-- TODO $customize w/ users name, etc-->
<h1>Profile</h1>

<div *ngIf="!showUpdateForm">


 <br>

<!-- CARD - Displaying a user's report -->

  <div class="row d-flex flex-column align-items-center">
<!-- <div class="card" *ngFor="let report of reports" style="width: 18rem;"> -->
  <div class="card w-75" *ngFor="let report of reports" >
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <!-- HEADER -->
    <div class="card-header d-flex justify-content-between align-items-center">
    <!-- <h5 class="card-title">Card title</h5> -->

    <div class="col">
      <img
          [src]="report.imageUrl"
          class="img-fluid"
          style="width: 100px; height: 100px; object-fit: cover"
        />
    </div>


      <div class="col text-center">
        <h5 class="card-title" >{{report.name}}</h5>
      </div>


      <div class="col text-end">
        <h5 class="list-group-item">Author: {{report.user.firstName}}</h5>
      </div>
      </div>
      </div>


      <div class="row">
      <div class="col">
        <a class="list-group-item">{{report.description}}</a>
      </div>
      <div class="col text-end">
        <a class="list-group-item">Location:
          {{report.address.street}}
          {{report.address.city}}
          {{report.address.postalCode}}
        </a>
      </div>
      </div>
      <br>

      <div class="row">
        <div class="col">
          <a class="list-group-item">Posted: {{report.createDate | date: 'full'  }}</a>
        </div>

        <div class="col">
          <!-- PLACEHOLDER -->
        </div>

        <div class="col text-end">
          <a class="list-group-item">Happened: {{report.eventDate | date: 'full' }}</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <a class="list-group-item">Category: {{report.reportCategory.name}}</a>
        </div>

        <div class="col">
          <!-- <a class="list-group-item">PLACEHOLDER for tag {{report.reportCategory.name}}</a> -->
        </div>


      </div>
      <br>
      <br>


      <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary ms-2" (click)="displayUpdateForm(report)">Edit</button>
        </div>
          <!-- <button (click)="disable()">Remove</button>  -->
        <div class="col text-center">
          <button class="btn btn-outline-primary ms-2" (click)="deleteReport(report.id)">Remove</button>
        </div>
          <!-- <button>Delete</button> -->
        <!-- <div class="col">
          <button>Comment</button>
        </div> -->

        <div class="col text-end">
          <button
            type="button"
            class="btn btn-outline-primary ms-2"
            (click)="collapse.toggle()"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample"
            (click)="loadCommentsToReport(report.id)"
          >
            View Comments
          </button>
        </div>
        <br>
        <br>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card align-items-center">
          <div class="card-body text-center">
            <h3>Comments</h3>
          <div class="card w-150 mb-2" *ngFor="let comment of report.comments">
            <div class="card-header">
              {{comment.user?.firstName}} {{comment.user?.lastName}}
          </div>
          <div class="card-body">
            {{comment.body}}
            <br>
            <br>
            <br>
            <div class="card-footer d-flex justify-content-between align-items-center">
            <a>Posted:
            {{comment.createDate | date: 'full'}}
            </a>
            </div>
          </div>


          </div>
          </div>
          <br>
          <div class="add-comment">
            <textarea name="body" placeholder="Add Comment" [(ngModel)]="newComment.body" rows="4" cols="50"></textarea>
          </div>
          <button class="btn btn-outline-primary ms-2"(click)="addComment(report)">Submit</button>
        </div>
        </div>
          <br>
      </div>
    </div>
  </div>
</div>
<!-- </div>
</div> -->

<!--====================== UPDATE FROM ===========================-->

<div *ngIf="showUpdateForm" class="update-form">
  <form *ngIf="editReport">
    <h1>Update Form</h1>

  <div class="form-group row">
    Name: <input type="text" name="name" [(ngModel)]="editReport.name">
  </div>
  <div class="form-group row">
    Description: <input type="text" name="description" [(ngModel)]="editReport.description">
  </div>
  <div class="form-group row">
    Image URL: <input type="text" name="imageUrl" [(ngModel)]="editReport.imageUrl">
  </div>

  <div class="form-group row">
    Address Name: <input type="text" name="addressname" [(ngModel)]="editReport.address.name">
  </div>

  <div class="form-group row">
    Street: <input type="text" name="street" [(ngModel)]="editReport.address.street">
  </div>

  <div class="form-group row">
    City: <input type="text" name="city" [(ngModel)]="editReport.address.city">
  </div>

  <div class="form-group row">
    State: <input type="text" name="state" [(ngModel)]="editReport.address.state">
  </div>

  <div class="form-group row">
    Zip: <input type="text" name="postalCode" [(ngModel)]="editReport.address.postalCode">
  </div>

  <div class="form-group row">
    Country: <input type="text" name="country" [(ngModel)]="editReport.address.country">
  </div>

  <div class="form-group row">
    Category: <input type="text" name="reportCategory" [(ngModel)]="editReport.reportCategory.name">

  </div>
  <br>
  <button (click)="displayProfilePage()">Cancel</button>
  <button (click)="updateReport(editReport)">Submit</button>
</form>
</div>
