<!-- <p>report-buttons works!</p> -->

<!-- Maybe format these as footers to the Report 'cards' -->
<!-- If Report belongs to User -> include: -->
<div class="card-footer text-body-secondary">

  <!-- <button (click)="editReport()" *ngIf="reportOwner()" >Edit</button>
  <button (click)="removeReport()" *ngIf="reportOwner()" >Remove</button> -->

  <!-- WILL DISPLAY REGARDLESS -->
  <button (click)="editReport()"  >Edit</button>
  <button (click)="removeReport()"  >Remove</button>

  <button (click)="likeReport()">Like</button>
  <button (click)="commentReport()">Comment</button>

</div>
